.im{
    height:fit-content;
}
.powr{
    font-size:2.5cm;
}
.bgi{
    background-color: whitesmoke;
}
.manj{background-color:#ec2727;height:120px;}
.bgin{
    background-color:white;height
}
.tex{
    background-color: red;
    color: azure;
    height:1cm;
}
.te1{
    color: aliceblue;
}
.colou{
    color:rgb(235, 229, 229);
}
.gi{
    background-color:#DE564A;
    color: antiquewhite;
}
.ui{background-color: #F7BB29;}
.m{
    padding-top:5px;
}
.te{
    margin-left:20px;
}
.bgm{
    height:120px;
    background-color:#DD4530;
}
.siz{
    width:300px;
    height: 31px; 
    margin-left:220px ;  
}
.ser{
    background-color: rgb(165, 165, 144);
    margin-bottom:5px;
    padding-bottom:1px ;
}
.mic{margin-left:-5px;
margin-bottom:5px;
padding-top:0.5px;}
.bor2{
    background-color:#517DBC;
    height:120px
}
.ga{background-color: rgba(134, 107, 180, 0.945);}
.si{
    width:300px;
    height: 31px; 
    margin-left:1px ;  
}
.yg{background-color:#18A66A}
.bor3{background-color:#F7B219;height:140px}
.ta{color:aliceblue}
.ge{background-color: #F7BB29;}
.siq{width:300px;
    height: 31px; 
    margin-left:220px;}

.bor4{background-color:#019E5B;height:125px;}
.gm{background-color:#18A66A ;}
.bor5{background-color: #DD4530;height:220px;}
.bor6{background-color: #517DBC;height:220px;}
.gk{background-color: #638AC5;}
.bor7{background-color: #F7B219;height:125px;}
.gg{background-color: #F7BB29;}
.bor8{background-color: #019E5B;height:125px}
.gh{background-color: #18A66A;}
.bor9{background-color: #DD4530;height:125px;}
.gz{background-color: #DE564A;}
.bor10{background-color: #517DBC;height:125px;}
.gm{background-color: #638AC5;}
.sizr{margin-left:6cm;
width:290px;}
.bor11{background-color:#F7B219;height:px;}
.bor12{background-color:#019E5B;height:125px;}
.fm{font-size: 2cm;}
.te{color: antiquewhite;}

.love{background-color: #DD4530;
height:190px; width:210px }
.love1{background-color: #4130dd;
height:243px }
.love2{background-color: #ddda30;
height:170px}



.font{color: aliceblue;}

.fittext{ height:20px;width:200px;}
.backcol{background-color:#DE564A;}
.backcol1{background-color:#019E5B;}
.backcol2{background-color:#517DBC;}
.backcol3{background-color:#F7B219;}
.backcol4{background-color:#18A66A ;}

.fitback{background-color:#DD4530;
    height: 55px;}
.fitback1{background-color:green;
        height: 55px;} 
.fitback2{background-color:blue;
            height: 55px;}    
.fitback3{background-color:yellow;
                height: 55px;}             
.fitback4{background-color:green;
                    height: 55px;}         

.uhb{margin-left:-19px;}

.backcol11{background-color: #638AC5;}
.fitback11{background-color: #4130dd;}
.fitback12{background-color:yellow;}
.fitback13{background-color:red;}
.fitback14{background-color:blue;}
.backcol21{width:fit-content}

.ghi{width:211px; margin-left:-19px; height:243px;}
.lov{height: 250px;}
.lov1{height: 240px;}
.lov3{height: 200px;}
.fite{width:200px;height:20px;}

.mon{margin-top:40px ;}

.backcol21{background-color: #ddda30;}
.fitback21{background-color: #F7B219;}
.backcol22{background-color:#DD4530;}
.fitback22{background-color:#dd2911;}
.backcol23{background-color:#18A66A;}
.fitback23{background-color:#019E5B }
.backcol24{background-color: #ddda30;}
.fitback24{background-color: #F7B219;}
.bgmain{background-color: #F8F3F7;}

.sim{height:100px;
width:100px;}
.val{margin-right:5cm;
width:500px;
height:100px;}

.mhj{padding-left:150px;}
.wit{margin-left:75px;}
.bgm{background:transparent;}
.end{margin-left:110px;}

.bgkl{background-color:white;}
.hmt{height:180px;background-color: #dd2911;}
.mmmm{width:15em;}
.amt{margin-left:2px;background-color: #517DBC;}
.finl{margin-left:60px;}
.kjn{margin-left:250px;}
.fc{color:white;}
.steve{margin-left:5px;}
.hikl{color: #019E5B;}
.finl{margin-left:20px;}